.container{
    display: flex;
}

.mini_container{
    width: 6em;
    height: 6em;
    padding: .5em;
    border: black 1px solid;
    border-radius: 1em;
    display: grid;
    justify-items: center;
}

.mini_container .texto{
    font-size: 1em;
}

.mini_container .numero{
    font-size: 3em;
    font-weight: bold;
}

#listas a {
    text-decoration: none;
    color: black;
}

.lista {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    padding-bottom: 1rem;
}

#header_listas {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.3rem;
}