.container{
    display: flex;
}

.mini_container{
    width: 6em;
    height: 6em;
    padding: .5em;
    border: black 1px solid;
    border-radius: 1em;
    display: grid;
    justify-items: center;
}

.mini_container .texto{
    font-size: 1em;
}

.mini_container .numero{
    font-size: 3em;
    font-weight: bold;
}

#listas {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#header_listas {
    padding-bottom: 1rem;
    font-size: 1.3rem;
}

.lista {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    padding-bottom: 1rem;
}

#listas a {
    text-decoration: none;
    color: black;
}

.funcionalidade_adicional_listas {
    display: grid;
    grid-template-columns: 49% auto 49%;
    gap: 1%;
}

.criar_lista {
    display: grid;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.criar_lista .nome_descritivo {
    display: grid;
    grid-template-columns: 20% 39% 39%;
    gap: 1%;
}