.tarefa{
    display: grid;
    grid-template-columns: 38.8% 13.8% 13.8% 8.8% 8.8% 8.8%;
    gap: 1%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid hsla(245, 7%, 19%, 1);
}

.checkbox_tarefa {
    height: 1.4rem;
    width: 1.4rem;
    vertical-align: middle;
}

.tarefas {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#header_tarefas {
    padding-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.centraliza {
    text-align: center;
}

.tarefas button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    vertical-align: middle;
    width: auto;
}

.nome_lista {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.deleta_lista{
    vertical-align: middle;
}

.funcionalidade_adicional_tarefas {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 49% auto 49%;
    gap: 1%;
}

.nova_tarefa {
    display: grid;
    gap: 1rem;
}

.descricao_tarefa {
    display: grid;
    gap: 0.7rem;
}

.termino_tarefa {
    display: grid;
    gap: 0.7rem;
}

.btns_tarefa div {
    display: inline-block;
}

.altera_tarefa {
    display: none;
    gap: 1rem;
}

.convidar_usuario h2{
    margin-bottom: 1rem;
}

.convidar_usuario .convidar_select {
    width: 15rem;
}
