{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/htmx.org@1.9.2"></script>
        <link rel="stylesheet" href="{% static 'styles/style.css' %}">
        {% block style %}{% endblock %}
    </head>
    <body>
        <nav class="main_nav">
        {% if user.is_authenticated %}
            <h2 class="main_nav_title">Bem-Vindo {{ usuario.nome }}</h2>
            <ul class="main_nav_options">
                <li><a href="{% url 'home' %}"><img src="{% static 'icons/home.svg' %}" alt="Home" class="icon_home"><div class="spacer"></div>Home</a></li>
                <li>
                    <div class="dropdown_convites">
                        <button class="drop_convites_btn" onclick="show_convites()"><img src="{% static 'icons/message-envelope.svg' %}" alt="Home" class="icon_home"><div class="spacer"></div>Convites</button>
                        <div id="dropdown_convites_content" style="display: none;">
                            <div id="convites">
                                {% if convites|length > 0 %}
                                    <div class="convite" id="header_convites">
                                        <tag>Convite da lista</tag>
                                        <tag>Dono da lista</tag>
                                        <tag id="tag_aceitar_recusar">Aceitar/Recusar</tag>
                                    </div>
                                    {% for convite in convites %}
                                        <div class="convite">
                                            <tag>{{ convite.fk_lista.nome_descritivo }}</tag>
                                            <tag>{{ convite.fk_nome_usuario_env.nome_usuario }}</tag>
                                            <div class="aceitar_recusar">
                                                <a href="{% url 'responder_convite' id_lista=convite.fk_lista.id_lista id_usuario=usuario.nome_usuario resposta=1 %}"><img src="{% static 'icons/check_mark.png' %}" width="24px"></a>
                                                <div class="vl"></div>
                                                <a href="{% url 'responder_convite' id_lista=convite.fk_lista.id_lista id_usuario=usuario.nome_usuario resposta=0 %}"><img src="{% static 'icons/checkbox_cross.png' %}" width="24px"></a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    Você não recebeu nenhum convite
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="{% url 'logout' %}"><img src="{% static 'icons/logout.svg' %}" alt="Desconectar" class="icon_home"><div class="spacer"></div>Desconectar</a></li>
            </ul>
        {% else %}
            <h2 lass="main_nav_title">Não logado</h2>
            <ul class="main_nav_options">
                <li><a href="{% url 'home' %}"><img src="{% static 'icons/home.svg' %}" alt="Home" class="icon_home"><div class="spacer"></div>Home</a></li>
                <li><a href="{% url 'login' %}"><img src="{% static 'icons/login.svg' %}" alt="Conectar-se" class="icon_home"><div class="spacer"></div>Conectar-se</a></li>
                <li><a href="{% url 'registrar' %}"><img src="{% static 'icons/register.svg' %}" alt="Registrar" class="icon_home"><div class="spacer"></div>Registrar</a></li>
            </ul>
        {% endif %}
        </nav>
        <div class="corpo">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>