{% extends "lista_tarefas/layout.html" %}
{% load static %}

{% block title %}
    {{title}}
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'styles/lista.css' %}">
    <script>    
        var lista = {{ lista.id_lista }}
    </script>
    <script type="text/javascript" src="{% static 'scripts/controle_tarefas.js' %}"></script>
{% endblock %}

{% block body %}
    <h2 class="nome_lista">
        Lista de tarefas: {{ lista.nome_descritivo }}
        {% if usuario.nome_usuario == lista.fk_nome_usuario.nome_usuario %}
            <a class="deleta_lista" href="{% url 'delete_lista' id_lista=lista.id_lista %}"><img src="{% static 'icons/trash_can.png' %}" width="24px"></a>
        {% endif %}
    </h2>
    {% if perm %}
        <div class="tarefas">
            {% if tarefas|length > 0 %}
                <div class="tarefa" id="header_tarefas">
                    <tag>Descrição da tarefa</tag>
                    <tag>Data de Criação</tag>
                    <tag>Data de Vencimento</tag>
                    <tag>Concluída?</tag>
                    <tag>Deletar?</tag>
                </div>
                {% for tarefa in tarefas %}
                <div class="tarefa" id="tarefa__{{ tarefa.id_tarefa }}">
                    <tag>{{ tarefa.descricao }}</tag>
                    <tag>{{ tarefa.data_cadastro|date:"d/m/Y H:i" }}</tag>
                    <tag>{{ tarefa.data_vencimento|date:"d/m/Y H:i" }}</tag>
                    <div><input type="checkbox" class="checkbox_tarefa" id="checkbox__{{ tarefa.id_tarefa }}" onclick="attTarefa({{ tarefa.id_tarefa }})" {% if tarefa.tarefa_concluida %}checked{% endif %}></div>
                    <button onclick="deleteTarefa({{ tarefa.id_tarefa }})"><img src="{% static 'icons/trash_can.png' %}" width="24px"></button>
                    <br>
                </div>
                {% endfor %}
            {% else %}
                Não existe nenhuma tarefa nesta Lista
            {% endif %}
        </div>
        
        <div class="funcionalidade_adicional_tarefas">
            <div class="nova_tarefa">
                <h2>Adicionar uma Tarefa</h2>
                <div class="descricao_tarefa">
                    <label class="label_desc" for="texto_tarefa">Descreva a tarefa que deseja criar:</label>
                    <input class="input_desc" type="text" name="texto_tarefa" id="texto_tarefa" maxlength="100">
                </div>
                <div class="termino_tarefa">
                    <label class="label_venc" for="date">Data de vencimento da tarefa (Opcional): </label>
                    <input class="input_venc" type="datetime-local" id="date" name="date">
                </div>
                <div class="btns_tarefa">
                    <div class="btn_adc"><button onclick="cria_tarefa({{lista.id_lista}})">Criar Tarefa</button></div>
                    <div class="btn_lmp"><button onclick="limpar_campos()">Limpar Campos</button></div>
                </div>
            </div>
            <div class="vl"></div>
            <div class="convidar_usuario">
                <h2>Convidar um usuário</h2>
                {% if nao_convidado|length > 0 %}
                    <form action="{% url 'criar_convite' id_lista=lista.id_lista usuario=usuario.nome_usuario  %}" method="POST">
                        {% csrf_token %}
                        <select class="convidar_select" name="valor_selecionado">
                            <option value=""></option>
                            {% for valor in nao_convidado %}
                                <option value="{{ valor }}">{{ valor }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit">Enviar</button>
                    </form>
                {% else %}
                    <br>Não existe nenhum outro usuário para convidar
                {% endif %}
            </div>
        </div>
    {% else %}
        <h3>Você não tem permissão para ver esta Lista de Tarefas</h3>
    {% endif %}
{% endblock %}