{% extends "lista_tarefas/layout.html" %}
{% load static %}

{% block title %}
    {{title}}
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <script>    
        var retorno = {{ retorno }}
    </script>
    <script type="text/javascript" src="{% static 'scripts/retorno_lista.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/att_tarefa.js' %}"></script>
{% endblock %}

{% block body %}
    {% if perm %}
        {% for tarefa in tarefas %}
        <div id="tarefa__{{ tarefa.id_tarefa }}">
            {{ tarefa.descricao }}
            <input type="checkbox" id="checkbox__{{ tarefa.id_tarefa }}" onclick="attTarefa({{ tarefa.id_tarefa }})" {% if tarefa.tarefa_concluida %}checked{% endif %}>
            <input type="button" onclick="deleteTarefa({{ tarefa.id_tarefa }})">
            <br>
        </div>
        {% empty %}
            Não existe nenhuma tarefa nesta Lista
        {% endfor %}

        <form action="{% url 'criar_tarefa' id_lista=lista.id_lista %}" method="post">
            {% csrf_token %}
            <label for="texto_tarefa">Descreva a tarefa que deseja criar:</label>
            <input type="text" name="texto_tarefa" id="texto_tarefa" maxlength="100">
            <label for="date">Dia para término da tarefa: (Opcional)</label><br>
            <input type="datetime-local" id="date" name="date"><br><br>
            <button type="submit">Criar</button>
        </form>

        {% if nao_convidado|length > 0 %}
            <form action="{% url 'criar_convite' id_lista=lista.id_lista usuario=usuario.nome_usuario  %}" method="POST">
                {% csrf_token %}
                <select name="valor_selecionado">
                    <option value=""></option>
                    {% for valor in nao_convidado %}
                        <option value="{{ valor }}">{{ valor }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Enviar</button>
            </form>
        {% else %}
            <br>Não existe ninguém para chamar
        {% endif %}

        {% if usuario.nome_usuario == lista.fk_nome_usuario.nome_usuario %}
            <a href="{% url 'delete_lista' id_lista=lista.id_lista %}">Deletar Lista</a>
        {% endif %}
    {% else %}
        Você não tem permissão para ver esta Lista de Tarefas
    {% endif %}
{% endblock %}